#top_nav{
    width: 1520px;
    height: 60px;
    background-color: #2B303B;
    color: #dddddd;
}

.left a img{
    width: 112px;
    height: 28px;
    margin-top: 15px;
    padding-left: 20px;
}

.logo{
    display: block;
    width: 112px;
    height: 28xp;
}

.right{
    position: absolute;
    left: 1310px;
    top: 13px;
    width: 190px;
    height: 34px;
    font-size: 14px;
    background-color:#2B303B;
}

.right:hover ul{
    display: block;
}
.right #icon2{
    transition: all .3s;
}
.right:hover #icon2{
    transform: rotate(180deg);
}

.dropdown{
    display: block;
    border:1px solid #666;
    line-height: 32px;
    width: 157px;
    height: 32px;
    padding: 0 21px 0 10px;
}

#icon1{
    width: 16px;
}

#icon2{
    position: absolute;
    right: 10px;
    top: 27%;
    width: 11px;
}

.dropdown-list{
    display: none;
    border: 0.5px solid #2B303B;
    margin:0;
    padding: 0;
    line-height: 33px;
    background-color:inherit;
}

.drop-list{
    list-style:none;
}

.drop-list a{
    display: block;
    text-decoration: none;
    color: #dddddd;
    padding: 0 10px;
}

/* 子用户css */
.big-log{
    font-size: 28px;
    margin-bottom: 10px;
}
.txt-hide{
    display: inline-block;
}
#logincard,#idcard{
    /* 给主账号ID与登录方式添加样式 */
    border-bottom: dashed 1px #666;
    cursor: pointer;
    color: #999;
    position: relative;
}
.txt-hide{
    position: relative;
}

.txt-hide-wrap{
    color: #404A58;
}

#idcard_content,#logincard_content{
    display: none; 
    position: absolute;
    width: 220px;
    height: 70px;
    margin-top: 7px;
    z-index: 10;
    border: 1px solid rgb(179, 183, 191);
    font-size: 12px;
    background-color: #fff;
    padding: 8px 10px;
    line-height: 18px;
    box-sizing: border-box;
}

#idcard_content::before{
    content: '';
    width: 0;
	height: 0;
	border: 7px solid;
	position: absolute;
	top: -14px;
	border-color:  transparent transparent rgb(179, 183, 191);
}
#logincard_content::before{
    content: '';
    width: 0;
	height: 0;
	border: 7px solid;
	position: absolute;
	top: -14px;
	border-color:  transparent transparent rgb(179, 183, 191);
}

#idcard_content,#logincard_content:hover{
    display: show();
}


/* addclass为变颜色 */
.drop-list:hover a{
    color: #00a4ff;
}

/* 表单 */
.input-error{
    color: red;
    display: none;
    font-size: 12px;
}

.for-list{
    position: relative;
    padding-left: 0;
}
.for-list li{
    list-style: none;
    color: rgb(51,51,51);
    margin-bottom: 15px;  
}

.for-list li input{
    padding: 7px 10px; 
}

.for-list li input:hover{
    border-color: #00a4ff;
    }

input::-webkit-input-placeholder{
    color: #333;
    font-size: 14px;
    line-height: 45px;
}
input::-moz-input-placeholder{
    color: #333;
    font-size: 14px;
    line-height: 45px;
}

.red{
    border-color: red!important;
}

.for-list input{
    width: 340px;
    height: 45px;
    border: 1px solid rgb(221,221,221);
    /* 神器 */
    box-sizing: border-box;
}
.for-list li a,.inner li a{
    color:#333;
    text-decoration:none;
    font-size: 14px;
    line-height: 45px;
    color: rgb(51,51,51);
    padding: 0 21px 0 10px;
}
.for-list .inner{
    position: absolute;
    padding-left: 0;
    background-color: white;
    top: 44px;
    left: -1px;
    display: none;
    border: 1px solid rgb(221,221,221);
    border-top: none;
}

.for-list .inner li{
    width: 338px;
    height: 33px;
    margin-bottom: 0!important;   
}

.for-list .inner li:hover{
    background-color: #F2F2F2;
}

.for-list .inner li a{
    font-size: 14px;
    line-height: 33px;
    display:block;
}

#dif_login0{
    position: relative;
    border: 1px solid rgb(221,221,221);
    width: 340px;
    height: 45px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

#dif_login0:hover{
    border-color: #00a4ff;
}
/* rgb(0, 146, 238); */
.list-item button{
    background-color: rgb(0, 164, 255);
    color: rgb(255, 255, 255);
    border: 1px;
    width: 340px;
    height: 45px;
    padding: 0 20px;
}

.list-item button:hover{
    background-color:#0092EE;
}

#icon3{
    position: absolute;
    top: 15px;
    left: 310px;
    background-position: 0px 0px;
}

/* 中心 */
.main{
    padding: 0 20px 90px;
}

.main-inner{
    margin: 0 249.6px;
    padding:0 10px 20px;
}

.fo_left{
    width: 490px;
    height: 504px;
    padding:60px 100px 0 0;
    box-sizing: border-box;
}

/* 企业微信子用户登录切换 */
.disappear{
    /* addClass */
    display: none;
}